@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2D1E3E; /* Usage of Secondary color for text implies deep contrast */
  
  /* Modern Warmth Palette */
  --color-primary: #F28C28;
  --color-secondary: #2D1E3E;
  --color-accent: #B11217;
  
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  
  --font-sans: var(--font-inter);
  --font-heading: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}
